{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<div class="row align-items-top my-5">
  <div class="col-lg-4">
    <img class="img-fluid rounded mb-4 mb-lg-0" src="{{person.image.url}}" alt="">
    <h1 class="font-weight-light">{{ person }}</h1>
    <p><strong>Position:</strong> {{ person.position }}</p> 
    <p><strong>Affiliation:</strong> {{ person.affiliation }}</p>
    <p><strong>Email:</strong> {{person.email}} </p>
    <p><strong>ORCID:</strong> <a href="https://orcid.org/{{ person.ORCID }}">{{ person.ORCID }}</a></p> 
    <p><strong>Research Website:</strong> <a href="{{ person.website }}">{{ person.website }}</a></p> 
  </div>
  <div class="col-lg-8">
    {{person.description}}
  </div>
</div>
{% endblock %}

{% block lastupdated %}{{person.last_modified}}{% endblock %}
